.progress_status {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width:14rem;
  height:14rem;
}

.status_item {
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  position: absolute;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.status_item img {
  width: 7.2rem;
  height: 7.2rem;
  object-fit: contain;
}

.status_background {
  position: absolute;
  inset: 0.5rem;
  display: grid;
  place-items: center;
}

.bg_spinner {
    box-sizing:border-box;
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
  border: 0.6rem solid rgba(132, 56, 245, 0.12);
  border-top-color: var(--color-primary);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
