.header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--color-white);
}

.header__inner {
    width: min(360px, 100%);
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__inner--back_only {
    justify-content: flex-start;
}

.header__logo_button {
    background: none;
    border: none;
    padding: 0.8rem 0;
    cursor: pointer;
}

.header__logo {
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: -0.08em;
    text-shadow:4px 4px 0 color-mix(in srgb, var(--color-black-100) 18%, transparent);
    color: var(--color-black);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}