.screen_main {
    /* width: auto; */
}

.screen_main .content_inner {
    margin-top: 1.6rem;
}
.screen_main .icon_lock {
    margin: 0 auto;
}
.screen_main .btn_container {
    margin-top: 4rem;
    flex-grow: 1;
    width: 100%;
}
