.screen_intro {
}

.screen_intro .content_inner {
  margin-top: 1.6rem;
}
.screen_intro .icon_lock {
  margin: 0 auto;
}
.screen_intro .btn_container {
  margin-top: 4rem;
  flex-grow: 1;
  width: 100%;
}
