.base_select {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.base_select__label {
  font-size: var(--font-size-3xs);
}

.base_select__control {
  position: relative;
  display: flex;
  align-items: center;
}

.base_select__field {
  width: 100%;
  border: 0.1rem solid var(--color-border-light);
  border-radius: 1rem;
  padding: 1.2rem 3.6rem 1.2rem 1.2rem;
  background: var(--color-white);
  appearance: none;
  font-size:1.4rem;
}

.base_select__field:disabled {
  opacity: 0.5;
}

.base_select__icon {
  position: absolute;
  right: 1.2rem;
  pointer-events: none;
  color: var(--color-grey-600);
}
