.screen_loading .content_inner {
    align-items: center;
    margin-top: 2.4rem;
}

.screen_loading .btn_container {
    margin-top: 4rem;
    flex-grow:1;
    width:100%;
}

.loading_message {
  font-weight: 500;
  font-size: var(--font-size-2xl);
  color: var(--color-black-100);
}
