html {
  font-size: 62.5%;
}

.app_root {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.app_nav {
  width: min(720px, 100%);
  margin: 0 auto;
}