
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* background-image: url('./assets/background/sample_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
html::before {
  content: '';
  position: fixed;
  inset: 0;

  background: rgba(255, 255, 255, 0.15); /* 금융 서비스 느낌 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

html,
body {
  height:100%;
}

body{
  /* display:flex;
  align-items:center;
  justify-content:center; */
}
#root{flex:1 1 auto;}

.app {
  display:flex;
  flex-direction:column;
  padding-top:60px;
}