:root {
    --color-white: #ffffff;
    --color-white-100: #f5f5f5;

    --color-grey-100: #d9dce3;
    --color-grey-200: #c4c4c4;
    --color-grey-400: #707070;

    --color-black: #000000;
    --color-black-100: #425363;
    --color-black-200: #969696;

    --color-primary: #8438f5;

    --shadow-soft: 0 16px 40px rgba(66, 83, 99, 0.12);

    --radius-lg: 18px;
    --radius-md: 14px;
    --radius-sm: 10px;
    --radius-xs: 5px;

    font-family:
        "Pretendard",
        "Noto Sans KR",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: var(--color-black-100);
    background-color: var(--color-white);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

input,
select,
textarea {
    background-color: var(--color-white);
    border-radius: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: none;
}
