.screen {
    width: min(720px, 100%);
    padding: 4rem 2rem 2rem;
    margin: 0 auto;
    box-shadow: 0 0 0 0 rgba(180, 43, 180, 0.12);
    background-color: var(--color-white);
    min-height:calc(100dvh - 60px);
}