.content_inner {
  /* background: var(--color-white-100);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--radius-md);
  padding: 1.6rem 1.4rem; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
